@using System.Security.Claims
@using Scrubby.Web.Services.Interfaces
@using Scrubby.Web.ViewComponents
@inject IAppStatusService AppStatus

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - MelonNET</title>
    <link rel="stylesheet" href="/css/bundle.css"/>
    <script src="/js/bundle.js"></script>
    @await RenderSectionAsync("AddToHead", false)
</head>
<body>
<nav class="navbar navbar-expand-md bg-light">
    <div class="container-fluid">
        <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
            <img src="~/images/ScrubbyBar.svg" height="30" width="113" class="d-inline-block align-self-center" alt="scrubby logo"/>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto" id="navigation">
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="Index" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Search" asp-action="PlayerIndex" class="nav-link">Player Search</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="FAQ" asp-action="Index" class="nav-link">FAQ</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="Icon" asp-action="SearchIcon" class="nav-link">Icon Search</a>
                </li>
                @if (User.Claims.Where(x => x.Type == ClaimTypes.Role).Any(x => x.Value is "Developer" or "In-Game Admin" or "BetaTester"))
                {
                    <li class="nav-item">
                        <a asp-controller="Investigate" asp-action="Index" class="nav-link">Investigate</a>
                    </li>
                }
                @if (User.IsInRole("Developer"))
                {
                    <li class="nav-item">
                        <a asp-controller="Announcement" asp-action="ManageAnnouncements" class="nav-link">Announcements</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Admin" asp-action="ReparseIndex" class="nav-link">Re-parse Rounds</a>
                    </li>
                }
                <li class="nav-item">
                    <a asp-controller="FAQ" asp-action="SecurityPolicy" class="nav-link">Data Security Policy</a>
                </li>
            </ul>
            @if (User != null && User.Claims.Any(x => x.Type == ClaimTypes.Name))
            {
                <a class="ms-auto btn btn-primary btn-sm" asp-controller="User" asp-action="Me">@User.FindFirst(ClaimTypes.Name)?.Value</a>
            }
            else
            {
                <a class="ms-auto btn btn-warning btn-sm" asp-controller="Auth" asp-action="Login">Login</a>
                <a asp-controller="FAQ" asp-action="Index" asp-fragment="logging-in" class="text-primary far fa-question-circle ms-2"></a>
            }
        </div>
    </div>
</nav>

<div class="container body-content">
    <vc:announcement/>
    @RenderBody()
    <hr/>
    <footer>
        <div class="container small text-center text-body-secondary">
            <div class="row justify-content-between">
                <div class="col-12">
                    All times listed are UTC unless otherwise stated. All content is provided without any guarantee, explicit or implied, of accuracy or permanent access.
                </div>
            </div>
            <div class="row justify-content-between">
                <div class="col-12">
                    <span class="text-nowrap">@AppStatus.GetCopyrightNotice().ToString()</span> /
                    <span class="text-nowrap">Version @AppStatus.GetVersion().ToString() @(AppStatus.GetBuildCommit() != null ? $"({AppStatus.GetBuildCommit().ToString()})" : string.Empty)</span> /
                    <span class="text-nowrap">
                        <a href="https://github.com/bobbah/Scrubby.Web/">View source on GitHub <i class="fab fa-github"></i></a>
                    </span>
                </div>
            </div>
        </div>
    </footer>
</div>

@await RenderSectionAsync("Scripts", false)
</body>
</html>